<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="my-3"><%=current_user.first_name%>'s profile page</h1>
    </div>
  </div>

  <div class="row flex-row">
    <div class="col">
      <h2>My informations</h2>
      <ul>
        <li><%=current_user.first_name%> <%=current_user.last_name%></li><br>
        <li><%=current_user.description%></li><br>
        <li><%=current_user.email%></li>
      </ul>
      <br><br>
      <h2>My events</h2>
        <div class="row">
        <% Event.all.each do |event|%>
          <%@event = event%>
          <%if event.admin_id == current_user.id%>
          <div class="text-center col-md-4 mb-5 my-5">
            <h2><%= event.title.capitalize!%></h2>
            <h3 class="text-center card-subtitle mb-2 text-muted">by <%= User.find_by(id: event.admin_id).first_name%> </h3>
            <p class="text-center card-text"><%= @event.description[0..80] %>...</p> 
            <p><%= link_to "See the event", event_path(@event.id), :method => 'get', class: "btn btn-info"%></p>
          </div>
          <%end%>
        <%end%>
      </div>
      <br><%= link_to "Edit my informations", edit_user_path(current_user), :method => 'get', class: "btn btn-info d-flex justify-content-end"%><br><br>
    </div>
  </div>
</div>
